[*]
indent_style = space
insert_final_newline = true

[*.cs]
indent_size = 4

[*.ts]
indent_size = 2

[*.{*proj,props,targets}]
indent_size = 2

[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[Dockerfile*]
indent_style = tab

[*.conf]
indent_style = tab

[Makefile]
indent_style = tab

[*.go]
indent_style = tab
