export KUBECONFIG=~/.kube/the-cluster.yaml
export RANCHER_URL=$(pulumi config get rancher2:apiUrl -C ./stacks/rancher)
export RANCHER_ACCESS_KEY=$(pulumi config get rancher2:accessKey -C ./stacks/rancher)
export RANCHER_SECRET_KEY=$(pulumi config get rancher2:secretKey -C ./stacks/rancher)
export RANCHER_INSECURE=true
