# Packages
node_modules/
*/*/charts/

# Artifacts
bin/
*.raw
build/
output/
.cache/
hack/secrets/

# IDE Configuration
.vscode/*
!.vscode/extensions.json
.idea/
.fake/

# Configuration
kubeconfig

# User Specific
.envrc
.direnv/
.kube/
tmp/
.make/
log.txt
*.out

# Generated code
generated.yaml
output.yaml
*.bac
gen/**/*.yaml
gen/**/*.yml
generated-docs/

# Absolute Garbage
.DS_Store
