# Packages
node_modules/
bower_components/
.terraform/
*/*/charts/
.psc-package/
components/**/package-lock.json

# Artifacts
bin/
obj
*.raw
build/
.pulp-cache/
output/
.cache/

# IDE Configuration
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.fake

# Configuration
talosconfig
kubeconfig
secrets.yaml
controlplane.yaml
worker.yaml
clusterctl.yaml

# User Specific
*.user
.envrc
.talos/
.kube/
**/.config/*
!.config/dotnet-tools.json
tmp/
.backups/
pools
.psc*
.purs*
.psa*
.spago
NuGet.Config
.make/

# Generated code
generated.yaml
output.yaml
*.bac
gen/**/*.yaml
gen/**/*.yml
generated-docs/

# Absolute Garbage
.DS_store
