# Packages
node_modules/
bower_components/
.terraform/
*/*/charts/
.psc-package/

# Artifacts
bin/
obj
*.raw
build/
.pulp-cache/
output/

# IDE Configuration
.vscode/
!.vscode/settings.json
.idea/
.fake

# Configuration
talosconfig
kubeconfig
secrets.yaml
controlplane.yaml
worker.yaml
clusterctl.yaml

# User Specific
*.user
.envrc
.talos/
.kube/
**/.config/*
!.config/dotnet-tools.json
tmp/
.backups/
pools
.psc*
.purs*
.psa*
.spago

# Generated code
generated.yaml
output.yaml
*.bac
gen/**/*.yaml
gen/**/*.yml
generated-docs/
