{% if 'master' not in group_names %}
server: "https://kube.int.unmango.net:6443"
token: {{ hostvars['MASTER_VARS']['node_token'] }}
{% endif %}
{% if server | d(false) %}
tls-san:
- kube.int.unmango.net
- rancher.int.unmango.net
{% endif %}
{% if server | d(false) or storage | d(false) %}
node-taint:
- "CriticalAddonsOnly=true:NoExecute"
{% if storage | d(false) %}
- "StorageOnly=true:NoExecute"
{% endif %}
{% endif %}
node-label:
- "host={{ host }}"
- "wireguard=true"
{% if storage | d(false) %}
- "node.longhorn.io/create-default-disk=true"
{% endif %}
