server: https://kube.int.unmango.net:9345
token: {{ node-token['content'] | b64decode }}
tls-san:
- kube.int.unmango.net
- rancher.int.unmango.net
node-taint:
- "CriticalAddonsOnly=true:NoExecute"
node-label:
- "host=apollo"
