server: https://kube.int.unmango.net:9345
token: {{ node_token['content'] | b64decode }}
node-taint:
- "CriticalAddonsOnly=true:NoExecute"
- "StorageOnly=true:NoExecute"
node-label:
- "host=zeus"
- "wireguard=true"
