apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpn
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vpn
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vpn
    spec:
      initContainers:
        - name: generate-config
          image: unstoppablemango/pia-manual-connections:v0.2.0-pia2023-02-06r0
          env:
            - name: PIA_USER
              valueFrom:
                secretKeyRef:
                  name: private-internet-access
                  key: username
            - name: PIA_PASS
              valueFrom:
                secretKeyRef:
                  name: private-internet-access
                  key: password
            - name: PIA_PF
              value: "false"
            - name: PIA_CONNECT
              value: "false"
            - name: PIA_CONF_PATH
              value: "/out/wg_confs/pia0.conf"
            - name: VPN_PROTOCOL
              value: "wireguard"
            - name: DISABLE_IPV6
              value: "no"
            - name: DIP_TOKEN
              value: "no"
            - name: AUTOCONNECT
              value: "true"
          volumeMounts:
            - name: config
              mountPath: /out
      containers:
        - name: wg
          image: lscr.io/linuxserver/wireguard:1.0.20250521
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Chicago"
            - name: LOG_CONFS
              value: "true"
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 250m
              memory: 512Mi
          volumeMounts:
            - name: config
              mountPath: /config
            - name: modules
              mountPath: /lib/modules
              readOnly: true
      volumes:
        - name: config
          emptyDir: {}
        - name: modules
          hostPath:
            path: /lib/modules
