version: '3'

# Attempt to mimic the output of `talosctl cluster create --provisioner docker ...`
# The CLI doesn't seem to have a clean way to start a node in maintenence
# mode, so we'll just stand it up manually for now.

name: rosequartz

x-controlplane: &controlplane
  image: ghcr.io/siderolabs/talos:v1.6.5
  environment:
    PLATFORM: container
    TALOSSKU: 2CPU-2048RAM
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  labels:
    org.opencontainers.image.source: https://github.com/siderolabs/talos
    talos.cluster.name: rosequartz
    talos.owned: false
    talos.type: controlplane
  tmpfs:
    - /run
    - /system
    - /tmp
  privileged: true
  security_opt:
    - seccomp:unconfined
    - label=disable

services:
  talos-controlplane-1:
    container_name: rosequartz-controlplane-1
    <<: *controlplane
    networks:
      default:
        ipv4_address: '10.5.0.2'
    volumes:
      - cni1:/etc/cni
      - etcK8s1:/etc/kubernetes
      - libexecK8s1:/usr/libexec/kubernetes
      - opt1:/opt
      - udev1:/usr/etc/udev
      - var1:/var
      - state1:/system/state
  talos-controlplane-2:
    container_name: rosequartz-controlplane-2
    <<: *controlplane
    networks:
      default:
        ipv4_address: '10.5.0.3'
    volumes:
      - cni2:/etc/cni
      - etcK8s2:/etc/kubernetes
      - libexecK8s2:/usr/libexec/kubernetes
      - opt2:/opt
      - udev2:/usr/etc/udev
      - var2:/var
      - state2:/system/state
  talos-controlplane-3:
    container_name: rosequartz-controlplane-3
    <<: *controlplane
    networks:
      default:
        ipv4_address: '10.5.0.4'
    volumes:
      - cni3:/etc/cni
      - etcK8s3:/etc/kubernetes
      - libexecK8s3:/usr/libexec/kubernetes
      - opt3:/opt
      - udev3:/usr/etc/udev
      - var3:/var
      - state3:/system/state
  lb:
    image: haproxy:2.9.7
    volumes:
      - ./haproxy:/usr/local/etc/haproxy:ro
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
    ulimits:
      nofile: 65535
    networks:
      default:
        ipv4_address: '10.5.0.5'

volumes:
  cni1:
  etcK8s1:
  libexecK8s1:
  opt1:
  udev1:
  var1:
  state1:
  cni2:
  etcK8s2:
  libexecK8s2:
  opt2:
  udev2:
  var2:
  state2:
  cni3:
  etcK8s3:
  libexecK8s3:
  opt3:
  udev3:
  var3:
  state3:

networks:
  default:
    labels:
      talos.cluster.name: rosequartz
      talos.owned: false
    ipam:
      driver: default
      config:
        - subnet: 10.5.0.0/24
