name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  dprint:
    runs-on: thecluster-runners
    steps:
      - uses: actions/checkout@v6
      - uses: dprint/check@v2.3
