name: Containers

on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/containers.yml
      - containers/*
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/containers.yml
      - containers/*

jobs:
  nix-runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build runner image
        run: |
          nix build '.#runner'

  actions-runner:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=docker depName=ghcr.io/actions/actions-runner
      ACTIONS_RUNNER_VERSION: 2.331.0
    steps:
      - uses: docker/setup-buildx-action@v3

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/actions-runner
          flavor: |
            latest=auto
          # defensive tagging because I'm an idiot
          tags: |
            type=ref,event=branch,suffix=-${{ env.ACTIONS_RUNNER_VERSION }}
            type=ref,event=branch,suffix=-v${{ env.ACTIONS_RUNNER_VERSION }}
            type=ref,event=branch,suffix=-${{ env.ACTIONS_RUNNER_VERSION }}-${{ github.run_number }}
            type=ref,event=branch,suffix=-v${{ env.ACTIONS_RUNNER_VERSION }}-${{ github.run_number }}
            type=raw,value=${{ env.ACTIONS_RUNNER_VERSION }}
            type=raw,value=v${{ env.ACTIONS_RUNNER_VERSION }}
            type=sha

      - uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          file: containers/runner/Dockerfile
          build-args: |
            ACTIONS_RUNNER_VERSION=${{ env.ACTIONS_RUNNER_VERSION }}
          platforms: ${{ github.event_name == 'pull_request' && 'linux/amd64' || 'linux/arm64,linux/amd64' }}
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: ${{ github.event_name != 'pull_request' }}
          sbom: ${{ github.event_name != 'pull_request' }}
