name: Containers

on:
  pull_request:
    branches: [main]
    paths:
      - containers/**
  push:
    branches: [main]
    tags: ['v*.*.*']
    paths:
      - containers/**

env:
  CI: true

jobs:
  runner-image:
    uses: ./.github/workflows/docker-container.yml
    with:
      name: runner-image
      path: containers/runner

  tcubi:
    uses: ./.github/workflows/docker-container.yml
    with:
      name: tcubi
      path: containers/tcubi

  rsync:
    uses: ./.github/workflows/docker-container.yml
    with:
      name: rsync
      path: containers/rsync
