name: THCLUSTER CLI

on:
  pull_request:
    branches: ['main']
    paths:
      - .github/workflows/tctl.yml
      - tools/tctl/**
  push:
    branches: ['main']
    tags: ['tctl/v*.*.*']
    paths:
      - .github/workflows/tctl.yml
      - tools/tctl/**

defaults:
  run:
    working-directory: tools/tctl/UnMango.TheCluster.CLI

env:
  CI: true
  ContinuousIntegrationBuild: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - run: dotnet restore
      - run: dotnet build -c Release --no-restore
      # - run: dotnet test -c Release --no-build
      - run: dotnet pack -c Release --no-build -o out

      - name: Authenticate to GitHub Packages
        if: github.event_name == 'push'
        run: |
          dotnet nuget add source \
            --username UnstoppableMango \
            --password ${{ secrets.GITHUB_TOKEN }} \
            --store-password-in-clear-text \
            --name github "https://nuget.pkg.github.com/UnstoppableMango/index.json"

      - name: Publish to GitHub Packages
        if: github.event_name == 'push'
        run: |
          dotnet nuget push \
            out/UnMango.TheCluster.CLI.*.nupkg \
            --source github
